<div class="info">
	<h2>Biografia</h2>

	<h3>Tucson, Az. 1986. Vive y trabaja en Hermosillo, Sonora.</h3>

	<h4>El gusto por la fotografía se detonó en el 2011 cuando hacía un internship de agricultura en Fresno, California y se compra su primer cámara. Aqui tiene la oportunidad de ir a parques nacionales y fotografiar paisajes. Con esas fotos empezó a ganar concursos locales. En 2013 se empieza a vender fotografías en <em>Lucita Aguilera Galería</em>, realiza exposiciones y subastas.</h4>

	<h4>En verano del 2013 se va a un curso de fotografía de <em>National Geographic</em> donde aprende más sobre fotografía y captura series de paisajes y animales africanos así como Masais y Hazdas, tribus originarias de Tanzania.</h4>

	<h4>En 2014 es seleccionado para el <em>Programa de Fotografía Contemporánea del Norte de México PFC,</em> donde desarrolló el proyecto Siete Cerros, sobre la agricultura en el Estado de Sonora. Este proyecto concluirá con una exposición en <em>Museo de Arte de Sonora</em>. En el verano del 2014 realiza un curso de fotografía en París con Juan Manuel Abellan y en <em>ICP</em> en Nueva York. Ganador de premio de adquisición de <em>Fotoseptiembre Sonora 2014</em>.</h4>
</div>

