 <div class="descargas">
 	<h3><a href="pdf/la_grieta_juancarloscoppel.pdf" target="lagrieta">la_grieta.pdf</a></h3>

 	<h3><a href="pdf/siete_cerros_juancarloscoppel.pdf" target="sietecerros">siete_cerros.pdf</a></h3>
 </div>
