<div id="main-slider" class="slider">
	<div class="introduction columns">
		<div class="column column-tercio">
            <div class="text">
    			<h2>la grieta</h2>
    			<p>En Agosto 2014 se abrió una grieta al norte de Hermosillo de 1.5 kilómetros de largo, 10 metros de profundidad y 3 de ancho. Esta grieta separo por completo un camino importante que unía dos pueblos, y un represo de agua.</p>
                <p>Hay versiones de que esto ocurrió por el mal uso de los pozos agrícolas del área, otros piensan que es una combinación de fallas geológicas con corrientes subterráneas de agua, de igual manera estas fotos recuerdan al ser humano el poer natural de la tierra y aprender como trabajar con el.</p>

                <h3><a href="pdf/la_grieta_juancarloscoppel.pdf" target="lagrieta">la_grieta.pdf</a></h3>
            </div>
		</div>
		<div class="cover-image column column-dos-tercios">
    		<img src="imagenes/lagrieta/11.1024.jpg" />
    	</div>
    </div>
    <img src="imagenes/lagrieta/1.1024.jpg" />
    <img src="imagenes/lagrieta/2.1024.jpg" />
    <img src="imagenes/lagrieta/3.1024.jpg" />
    <img src="imagenes/lagrieta/4.1024.jpg" />
    <img src="imagenes/lagrieta/5.1024.jpg" />
    <img src="imagenes/lagrieta/6.1024.jpg" />
    <img src="imagenes/lagrieta/7.1024.jpg" />
    <img src="imagenes/lagrieta/8.1024.jpg" />
    <img src="imagenes/lagrieta/9.1024.jpg" />
</div>

<div class="slider-controls">
	<a data-slider-action="previous">&lt;</a>
	<span data-slider-index></span>
	<a data-slider-action="next">&gt;</a>
</div>


