<div id="main-slider" class="slider">
	<div class="introduction columns">
		<div class="column column-tercio">
            <div class="text">
    			<h2>siete cerros</h2>
    			<p>Esta serie de fotos tomadas en campos familiares crea una conexión entre dos aspectos importantes en mi: la fotografía y la agricultura.</p>

				<p>Observando el campo que se extiende plano en la distancia con siete cerros de fondo, puedo contemplar un contexto mas amplio situando las diferentes facetas de la agricultura, los obreros, los cultivos, las herramientas, la maquinaria,  en medio de un paisaje mas grande que ellos. Surcos de cultivos se expanden con estructuras que lo soportan, los obreros se empequeñecen por la sensación de inmensidad acentuada por cerros y el cielo abierto.</p>

                <p>Busco elaborar una crítica a la mecanización con que asume el espacio natural y se desvía la mirada del observador hacia lo indomable.  El orden preciso del diseño agrícola marca la tierra y crea un contraste con un sentido superior de naturaleza que no puede ser sistemáticamente controlado.</p>
                <h3><a href="pdf/siete_cerros_juancarloscoppel.pdf" target="sietecerros">siete_cerros.pdf</a></h3>
            </div>
		</div>
		<div class="cover-image column column-dos-tercios">
    		<img class="img-proyect" src="imagenes/sietecerros/155.jpg" />
    	</div>
    </div>
    <img class="img-proyect" src="imagenes/sietecerros/15.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/2.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/3.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/4.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/5.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/6.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/7.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/8.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/9.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/10.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/11.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/12.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/13.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/14.jpg" />
    <img class="img-proyect" src="imagenes/sietecerros/16.jpg" />
</div>

<div class="slider-controls">
	<a data-slider-action="previous">&lt;</a>
	<span data-slider-index></span>
	<a data-slider-action="next">&gt;</a>
</div>
